h1
{
    color: white;
    border-radius: 20px;
    border-width: 5px;
    margin-left: 30%;
    padding-left: 10%;
    margin-right: 30%;
}

h2
{
    color: white;
    text-align: center;
}

.vantagens
{
    color: antiquewhite;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 200%;
}
